@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #2d6a4f;
  --color-primary-dark: #1b4332;
  --color-earthy: #d4a574;
  --color-alternate: #f0fdf4;
  
  --color-text-main: #1a1a1a;
  --color-bg-main: #ffffff;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
